@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

.top {
    margin-top: 0.5%;
}

.margin-auto {
    margin: auto;
}

.margin-left-allign {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 1%;
    margin-left: auto;
}

.border-top {

    border-top: 5px solid black;

}

.border-left {

    border-left: 5px solid black;
}

.border-right {

    border-right: 5px solid black;

}

.button-color {

    transition: color 0.2s ease-out, background-color 0.2s ease-out;

}

.button-color:hover {
    background-color: #EF7E00;
    color: white;
    transition: color 0.2s ease-out, background-color 0.2s ease-out;

}

.border-bottom {

    border-bottom: 5px solid black;
}

.footer-button {

    background-color: rgba(239, 126, 0, 0.9)
}

.text-center {
    text-align: center;
}

.button-scaling.is-large {
    font-size: 1.5vw;
}

@media (max-width: 1245px) {
    .remove-on-mobile {
        display: none;
    }

    .center-on-mobile {
        text-align: center;
    }


}

@media (max-width: 768px) {
    .button-scaling-on-mobile.is-large {
        font-size: 1.5rem;
    }
}
